.summary-paper {
  margin-right: 10px;
  /* margin-bottom: 20px; */
  padding: 10px 15px;
  height: 100%;
  width: 100%;
}
.graph-paper {
  padding: 5px 10px;
  margin: 10px 0px;
  margin-right: 5px;
  margin-bottom: 20px;
  max-height: 95%;
}
.table-paper {
  padding: 5px 10px;
  margin: 10px 0px;
  height: fit-content;
  display: flow-root;
}
.paper-table-container {
  margin-top: 10px;
  width: 100%;
  padding-bottom: 10px;
  overflow-y: auto;
  display: inline-block;
}
.settle-up-button-container {
  height: 100%;
  width: 100%;
  display: flex;
  /* background-color: red; */
}
.settle-up-button {
  margin-top: auto !important;
  margin-left: auto !important;
  padding-right: 10px !important;
  margin-right: 2px !important;
  margin-bottom: 5px !important;
}
.MuiTableCell-sizeSmall {
  padding: 6px 5px 6px 4px !important;
}
