.summary-paper {
  margin-right: 10px;
  /* margin-bottom: 20px; */
  padding: 10px 15px;
  height: 100%;
  width: 100%;
}
.graph-paper {
  padding: 5px 10px;
  margin: 10px 0px;
  margin-right: 5px;
  margin-bottom: 20px;
  max-height: 95%;
}
.table-paper {
  padding: 5px 10px;
  margin: 10px 0px;
  height: 70%;
  display: grid;
}
.paper-table-container {
  max-height: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
  overflow-y: auto;
}
.settle-up-button-container {
  height: 30%;
  width: 100%;
  padding-top: 5px;
}
.settle-up-button {
  float: right;
  padding-right: 10px !important;
  margin-right: 2px !important;
}
.MuiTableCell-sizeSmall {
  padding: 6px 5px 6px 4px !important;
}
