.flow-paper {
  /* margin-left: 10px !important; */
  /* margin-bottom: 20px; */
  padding: 10px 15px;
  height: 100%;
  width: 100%;
  display: inline-grid;
}

.activity-flow-container {
  margin-top: 0;
  padding: 7px 1px 10px 1px;
  margin-left: 2px ;
  overflow-y: scroll;
  height: 100%;
  background-color: #f0f0f0 !important;
  border-radius: .5rem !important;
  /* max-height: calc(40vh - 30px); */
  /* max-height: 40vh; */
}
.activity-flow-container div {
  /* border: solid black 1px; */
  border-radius: 18px;
  padding: 4px 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.activity-flow-container div+div {
  margin-top: 5px;
}
